# Xians configuration
XIANS_SERVER_URL=http://localhost:5001 #or you can use hosted server url
XIANS_API_KEY=

#Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=gpt-5-mini-pay

DOTNET_ENVIRONMENT=Development
APP_VERSION=dev